<div class="container-fluid">
	<nav class="navbar navbar-fixed-top navbar-inverse">
	  <ul class>
			<%= link_to "Eric Rosenberg","#top",class: "navbar-text smoothScroll" %>
			<%= link_to "About","#about", class: "navbar-text smoothScroll" %>
			<%= link_to "Experience","#experience", class: "navbar-text smoothScroll" %>
			<%= link_to "Projects","#projects", class: "navbar-text smoothScroll" %>
			<%= link_to "Contact","#contact", class: "navbar-text smoothScroll" %>
		</ul> 
	</nav>	
</div>